@import './node_modules/kouto-swiss'
@import './node_modules/jeet/styl'

/***************

    La dechetterie du web
    @author Geoffrey Trambolho

***************/

normalize()
button(fsize, lheight, bg=#000, col=#fff)
    text-align center
    line-height lheight
    font-size fsize
    background bg
    color col
    cursor pointer

@font-face
    font-family Noto
    font-style normal
    font-weight normal
    src url(../fonts/Noto_Sans/NotoSans-Regular.ttf)

@font-face
    font-family Noto
    font-style normal
    font-weight bold
    src url(../fonts/Noto_Sans/NotoSans-Bold.ttf)

@font-face
    font-family Noto
    font-style italic
    font-weight normal
    src url(../fonts/Noto_Sans/NotoSans-Italic.ttf)

@font-face
    font-family Noto
    font-style italic
    font-weight bold
    src url(../fonts/Noto_Sans/NotoSans-BoldItalic.ttf)

$bg = #ffffff
$font = #000000
$font2 = #A1A1A1

.brand-title
    display flex
    padding 15px
    border 1px solid #eaeaea
    height 100px
    background rgba(234, 234, 234, 0.08)
    .logo
        width 70px
        fill #2d3e51
        margin auto 0
    .title
        display flex
        flex-direction column
        flex-wrap wrap
        margin auto 0
        padding 0 15px
        color #2d3e51
        width 100%
    h1, p
        margin 0

// .title-field .title,
div[contenteditable],
textarea,
input
    outline none 
    border none
    border #EAEAEA 2px solid
    resize none
    padding 15px
    line-height 1.4rem
    width 100%

#title-post
    margin 15px 0
    font-size 3rem
    line-height 3.5rem
    margin-bottom 15px

hide()
    position fixed
    top 0
    right 0
    opacity 0
    z-index -99999

.hide
    hide()

p
    line-height 2.5rem

a
    span
        cursor pointer
        vertical-align top
        display inline-block
        color #000
        &:hover
            text-decoration underline

hr
    margin 10px 0
    border-color #EAEAEACCC

body
    padding-bottom 100px
    font-family Noto

span.ico
    display inline-block
    background-repeat no-repeat
    background-position center
    width 15px
    height 15px
    cursor pointer
    &.medium
        width 30px
        height 30px
    &.large
        width 50px
        height 50px
    &.xlarge
        width 100px
        height 100px
    &.facebook
        background-image url('./../img/picto/social/facebook.svg') 
    &.twitter
        background-image url('./../img/picto/social/twitter.svg') 
    &.snapchat
        background-image url('./../img/picto/social/snapchat.svg') 
    &.insta
        background-image url('./../img/picto/social/instagram.svg') 
    &.youtube
        background-image url('./../img/picto/social/youtube.svg') 
    &.search-submit
        background-image url('./../img/picto/search.svg') 
    &.fb
        background-image url('./../img/picto/fb.svg')
    &.tw
        background-image url('./../img/picto/tw.svg') 
    &.share
        background-image url('./../img/picto/share.svg') 
    &.comment
        background-image url('./../img/picto/comment.svg') 
    &.bookmark
        background-image url('./../img/picto/bookmark.svg') 
    &.shop
        background-image url('./../img/picto/shop.svg') 
    &.trophy
        background-image url('./../img/picto/trophy.svg') 
    &.gear
        background-image url('./../img/picto/gear.svg') 
    &.arrow-left
        background-image url('./../img/picto/arrow_right.svg')
        transform rotate(-180deg) 
    &.vote
        background-image url('./../img/picto/arrow_right_circle.svg') 
    &.vote_up
        background-image url('./../img/picto/arrow_up.svg') 
    &.vote_down
        background-image url('./../img/picto/arrow_down.svg') 
    &.camera
        background-image url('./../img/picto/camera.svg')
    &.dragfile
        background-image url('./../img/picto/drag.svg') 
    &.cross
        background-image url('./../img/picto/cross.svg') 
    &.add
        background-image url('./../img/picto/cross.svg') 
        transform rotate(45deg)
    &.coins
        background-image url('./../img/picto/coins.svg') 
    &.poo
        background-image url('./../img/picto/poo.svg') 
    &.burguer
        background-image url('./../img/picto/burguer.svg') 
    &.cam
        background-image url('./../img/picto/camera.svg')

.avatar
    width 50px
    height 50px
    overflow hidden
    border-radius 50%
    border 1px solid #EAEAEA
    img
        width 100%
        height auto

.container
    padding-top 150px
    @media (max-width 768px)
        padding-top 70px
/***************

    Bartop

***************/

.container-fluid
    &.bartop
        position fixed
        width 100%
        background white
        z-index 999
        padding-top 25px 
        padding-bottom 25px
        height 100px
        @media (max-width 768px)
            height 50px
            padding-top 10px 
            padding-bottom 10px
        .navbar
            position relative
            max-width 1440px
            font-size 0
            margin auto
            .menu
                max-width 750px
                margin auto
                .list
                    display flex
                    flex-direction column             
                    margin 0
                    border-bottom 1px solid #000
                    // border-bottom 1px solid #EAEAEA
                    background white
                    overflow hidden
                    height 0px
                    text-align center
                    transition height 0.3s
                    &.active
                        height 215px
                    a
                        z-index 999
                        width 100%
                        div.avatar
                            margin auto
                    .close-list
                        position fixed
                        top 50px
                        left 0
                        width 100%
                        height 100%
                        z-index 10
                        &.inactive
                            display none
            .profile,
            .brand, 
            .burguer,
            .cam
                position absolute
                top 0
            .profile,
            .cam
                right 0
            .cam, 
            .burguer
                & span 
                    margin 0
            .brand
                float left
                overflow visible
                .logo
                    width 50px
                    height auto
                    fill #2c3e50
            .search
                margin 15px 0
                display flex
                flex-direction row
                flex-wrap nowrap
                .search-input
                    hide()
                .search-field
                    width 100%
                    text-align right
                    font-size 1.5rem
                    line-height 30px
                    padding 0 5px
            a
                span
                    font-size 1.2rem
                    line-height 30px
                    margin 10px 15px 
                    height 30px
            &.desktop
                @media (max-width 768px)
                    display none !important
            &.mobile
                .menu
                    position fixed
                    top 50px
                    left 0
                    width 100%
                    // height 100%
                .title
                    font-size 2.3rem
                    text-align center
                    a.router-link-exact-active.router-link-active
                        text-decoration none
                @media (min-width 768px)
                    display none !important

/***************

    Single Post

***************/

.posts
    display flex
    margin-bottom 50px 
    article 
        @media (max-width 1200px)
            width: 100%
    aside
        position relative
        .btns
            display flex
            position relative
            flex-direction column
            top 40%
            width 70px
            text-align center
            &.social-btns
                opacity 0
            .title
                font-weight bold
                margin 10px auto
            span
                margin 10px auto
                cursor pointer
        @media (max-width 992px)
            display none
    &:hover
        aside
            .btns
                &.social-btns
                    opacity 1

.comment-form
    header
        margin-top 60px
        background rgba(204, 204, 204, 0.28)

.profile
    @media (max-width 768px)
        padding 0 !important
.post, 
.comments, 
.comment-form, 
.profile
    header
        position relative
        display flex
        flex-direction row
        flex-wrap nowrap
        padding 15px
        .info
            margin auto 15px
            span
                &.name
                    display block
                    font-size 1.2rem
                    line-height 20px
                    color $font   
                &.date
                    display block
                    font-size 0.9rem
                    color $font2
    .title
        font-size 2rem
        padding 0 15px 0 15px
        margin 20px 0 10px 0
        color $font
        font-weight bold
        word-wrap break-word
.comments,
.settings
    margin-bottom 40px
    .comment
        margin-bottom 40px
    .title
        margin-bottom 40px
    .content 
        font-size 1.4rem
        margin 15px 0
        padding 0 15px

.comment-form
    .comment-edit
        font-size 1.4rem
        min-height 100px
        width 100%
        outline none 
        padding 15px
        margin-bottom 15px
        border solid #EAEAEA 2px

.comment-btn,
.post-btn
    button(1.8rem, 50px)
.post-btn
    margin-top 30px

.post
    .content
        &.thumb
            max-height 500px
            background: #000
        text-align center
        cursor pointer
        overflow hidden
        position relative
        .layer-video
            width 100%
            height 100%
            background #00000040
            position absolute
            display flex
            .round
                height 50px
                width 50px
                margin auto
                border 4px solid white
                border-radius 25px
                box-sizing border-box
                position relative
                .play
                    border-right 7px solid #FFF
                    border-bottom 7px solid transparent
                    border-left 7px solid transparent
                    border-top 7px solid #FFF
                    width 0
                    height 0
                    box-sizing border-box
                    transform rotate(45deg)
                    position absolute
                    top 14px
                    right 17px
        a
            display block
            width 100%
        img
            width 100%
            margin auto
    footer
        width 100%
        margin 15px 0 0 0
        padding 0 15px 
        overflow auto
        display flex
        &.desktop
            @media (max-width 992px)
                display none
        &.mobile
            @media (min-width 992px)
                display none
            .action
                margin auto
        .action
            font-weight bold
            font-size 1rem
            color $font
            display flex
            line-height 15px
            cursor pointer
            .label
                margin 0 15px

/*******
    
    Profile

********/
#profile
    .profile
        margin-bottom 60px
        header
            .avatar
                width 120px
                height 120px
                @media (max-width 768px)
                    width 100px
                    height 100px
            .info
                height 90px
                margin 0
                margin-left 60px
                position relative
                @media (max-width 768px)
                    margin-left 20px
                .name,.desc
                    display block
                    margin-bottom 30px
                .name
                    font-size 2.2rem !important
                    font-weight bold
                .desc
                    font-size 1.3rem
                    margin-top 15px
                    color #737373
                .links
                    display flex
                    justify-content space-between
                    & > span
                        margin-right 10px
                    @media (max-width 768px)
                        span.ico
                            display block

#profile
    .btn-save
        text-align center
        color #FFF
        background #000000
    .profile
        .btn-save
            padding 5px
            margin 10px 15px
            width 120px
            position absolute
    .settings
        .btn-save
            button(1.8rem, 50px)

.tuile
    display flex
    flex-direction row
    flex-wrap wrap
    .post
        max-width 250px
        max-height 250px
        width 100%
        padding 10px
        box-sizing: border-box
        border solid 1px transparent
        &:hover
            border solid 1px #EAEAEA
        .content
            max-height: 230px

.nb-dechet
    font-weight bold


/* 

    Setting

 */

.flex
    display flex
    &.flex-row
        flex-direction row
    &.col
        flex-direction column
    &.nowrap
        flex-wrap nowrap

.settings
    .title
        font-size 2.2rem
        font-weight bold
    .section-title
        font-size 1.4rem
        color #A1A1A1
    .setting
        margin-top 30px
        .photo
            .old
                max-width 70px
                width 100%
                border-radius 50%
                overflow hidden
                margin-right 30px
                img
                    width 100%
            .btn
                margin auto 10px
                cursor pointer
                &:hover
                    text-decoration underline
    input, 
    textarea
        font-size 1.3rem
        margin 10px 0
    textarea
        &#bio
            min-height 150px
    label
        font-size 1.6rem
        font-weight bold
        display block

a
    &:hover
        text-decoration none
div
    &.social
        display block
        max-width 200px
        margin-bottom 15px
    &.facebook
        button(1.2rem, 50px, #3B5997)
    &.twitter
        button(1.2rem, 50px, #55ABED)
    &.btn-logout
        button(1.2rem, 50px, #bb3030)


/*

    Awards

*/

.award
    text-align center
    cursor pointer
    border 1px solid transparent
    height 200px
    i
        &:before
            font-size 7rem
            margin auto
    &:hover
        box-sizing border-box
        border 1px solid #EAEAEA
    &.earned
        background #6b6b6b
        i
            font-size 7rem
            margin auto
            svg
                width 50px
                fill white
        h4, span
            color white
        &:hover
            border-color black
    &.missing
        i
            font-size 7rem
            margin auto
            svg
                width 50px
                fill #afafaf
        h4, span
            color #afafaf

/**
 
    Auth
 
 */
.login-link
    line-height 50px
    font-size 1.2rem
    text-align center
    color black

.login-btn
    button(1.2rem, 50px, black, white)

 .linkauth
    font-size 1.2rem
    text-align left
    display inline-block
    margin-top 10px
    &:hover
        text-decoration underline

/**
 
    Drag @ Preview
 
 */
#new-post
    .title
        font-size 3rem
        line-height 3rem
        text-align center
        margin-bottom 10px
        height auto        

#dragzone
    height 40vh
    background rgba(204, 204, 204, 0.15)
    position relative
    display flex
    flex-direction column
    border 1px dashed #EAEAEA
    cursor pointer
    label
        margin auto
        cursor pointer
        span
            display block
            margin auto
            text-align center
        span.btn-drag
            button(1.2rem, 50px)
            padding 0 15px
            margin-top 10px
    .ico.drag
        height 50px
        width 50px
    &:hover
        border-color #EAEAEA

#fileInput
    opacity 0
    width 100%
    position absolute
    height 100%
    cursor pointer

#preview
    position relative
    min-height 100px
    max-height: 30vh
    border 2px solid #EAEAEA
    cursor pointer
    overflow: scroll
    .close-btn
        display none
        svg
            fill #cccccc
            width 100%
            height 100%
    &:hover
        .close-btn
            display block
            display block
            position absolute
            width 30px
            height 30px
            top 10px
            right 10px
    img
        width 100%
        height auto



/**
* PLAYER
*/
.play-btn
    display flex
    width 100%
    height 30vh
    border 1px solid #eaeaea
    svg
        height 50px
        margin auto
        fill #CCC
    

a
    color black 
    &.router-link-exact-active.router-link-active
        color black
        text-decoration underline

@keyframes loading
    to
        transform rotate(360deg)

#loading-wrapper
    display flex
    padding 50px
    width 100%
    height 100%
    border 1px solid #EAEAEA
    .loading
        display block
        margin auto
        width 40px
        height 40px
        border-left 4px solid #2d3e51
        border-bottom 4px solid #2d3e51
        border-top 4px solid #eaeaea
        border-right 4px solid #eaeaea
        border-radius 50%
        animation loading 1.2s infinite linear

#error-wrapper
    background #bb3030
    width 100%
    padding 15px
    ul
        margin 0
        li
            color #eaeaea
            width 100%
            font-size 1.2rem
#success-wrapper
    background green
    width 100%
    padding 15px
    div
        color #eaeaea
        width 100%
        font-size 1.2rem

span.more
    display block
    text-align center
    padding 15px
    max-width 200px
    color black
    font-size 1.2rem
    margin 15px auto
    cursor pointer
    &:hover
        text-decoration underline



  /*@keyframes cursor {
    0% {
        opacity 0
    }
    50% {
        opacity 0
    }
    51% {
        opacity 1
    }
    100% {
        opacity 1
    }
  }
  #title-post.placeholder:before{
    content 'Un peu de texte..'
  }
  #title-post:after{
    content ''
    height 3rem
    border 1px solid black
    width 0
    animation cursor 1s infinite
    -webkit-animation cursor 1s infinite
  }*/


/**

    Drop Down

*/

div.dropdown
    position absolute
    right 15px
    top 15px
    z-index 200
    .btn
        position absolute
        right 0
        display block
        height 15px
        width 15px
        cursor pointer
        opacity 0.8
        svg
            fill #CCC
        &:hover
            opacity 1
    .dropdown-menu
        position absolute
        right 0
        top 20px
        background white
        margin 0
        list-style none
        padding 0
        width 100px
        border 1px solid #CCC
        box-sizing border-box
        transform scale(0)
        transform-origin right top
        transition transform 0.3s
        @media (max-width 768px)
            width 150px
        &.active
            transform scale(1)
        &:after
            content ''
            position absolute
            top -10px
            right 2px
            display block
            width 0
            height 0
            border-bottom 5px solid #CCC
            border-top 5px solid transparent 
            border-left 5px solid transparent 
            border-right 5px solid transparent
            box-sizing border-box
        li
            padding 5px
            font-size 1rem
            cursor pointer
            @media (max-width 768px)
                font-size 1.5rem

a.hashtag
    color white
    background #1f5584
    padding 0 5px
    font-weight 100
a.hashtag:hover
    text-decoration underline
