	/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/07/2017 08:54
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./../fonts/Flaticon/Flaticon.eot");
  src: url("./../fonts/Flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./../fonts/Flaticon/Flaticon.woff") format("woff"),
       url("./../fonts/Flaticon/Flaticon.ttf") format("truetype"),
       url("./../fonts/Flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./../fonts/Flaticon/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-trophy-9:before { content: "\f100"; }
.flaticon-002-trophy-8:before { content: "\f101"; }
.flaticon-003-trophy-7:before { content: "\f102"; }
.flaticon-004-trophy-6:before { content: "\f103"; }
.flaticon-005-trophy-5:before { content: "\f104"; }
.flaticon-006-trophy-4:before { content: "\f105"; }
.flaticon-007-trophy-3:before { content: "\f106"; }
.flaticon-008-trophy-2:before { content: "\f107"; }
.flaticon-009-trophy-1:before { content: "\f108"; }
.flaticon-010-medal-43:before { content: "\f109"; }
.flaticon-011-badge-32:before { content: "\f10a"; }
.flaticon-012-medal-42:before { content: "\f10b"; }
.flaticon-013-medal-41:before { content: "\f10c"; }
.flaticon-014-medal-40:before { content: "\f10d"; }
.flaticon-015-medal-39:before { content: "\f10e"; }
.flaticon-016-medal-38:before { content: "\f10f"; }
.flaticon-017-medal-37:before { content: "\f110"; }
.flaticon-018-medal-36:before { content: "\f111"; }
.flaticon-019-medal-35:before { content: "\f112"; }
.flaticon-020-medal-34:before { content: "\f113"; }
.flaticon-021-medal-33:before { content: "\f114"; }
.flaticon-022-badge-31:before { content: "\f115"; }
.flaticon-023-medal-32:before { content: "\f116"; }
.flaticon-024-medal-31:before { content: "\f117"; }
.flaticon-025-medal-30:before { content: "\f118"; }
.flaticon-026-medal-29:before { content: "\f119"; }
.flaticon-027-medal-28:before { content: "\f11a"; }
.flaticon-028-medal-27:before { content: "\f11b"; }
.flaticon-029-medal-26:before { content: "\f11c"; }
.flaticon-030-medal-25:before { content: "\f11d"; }
.flaticon-031-medal-24:before { content: "\f11e"; }
.flaticon-032-medal-23:before { content: "\f11f"; }
.flaticon-033-badge-30:before { content: "\f120"; }
.flaticon-034-medal-22:before { content: "\f121"; }
.flaticon-035-medal-21:before { content: "\f122"; }
.flaticon-036-bronze-medal-2:before { content: "\f123"; }
.flaticon-037-silver-medal-3:before { content: "\f124"; }
.flaticon-038-gold-medal-3:before { content: "\f125"; }
.flaticon-039-medal-20:before { content: "\f126"; }
.flaticon-040-medal-19:before { content: "\f127"; }
.flaticon-041-medal-18:before { content: "\f128"; }
.flaticon-042-medal-17:before { content: "\f129"; }
.flaticon-043-medal-16:before { content: "\f12a"; }
.flaticon-044-badge-29:before { content: "\f12b"; }
.flaticon-045-medal-15:before { content: "\f12c"; }
.flaticon-046-medal-14:before { content: "\f12d"; }
.flaticon-047-medal-13:before { content: "\f12e"; }
.flaticon-048-medal-12:before { content: "\f12f"; }
.flaticon-049-medal-11:before { content: "\f130"; }
.flaticon-050-medal-10:before { content: "\f131"; }
.flaticon-051-medal-9:before { content: "\f132"; }
.flaticon-052-medal-8:before { content: "\f133"; }
.flaticon-053-medal-7:before { content: "\f134"; }
.flaticon-054-medal-6:before { content: "\f135"; }
.flaticon-055-badge-28:before { content: "\f136"; }
.flaticon-056-medal-5:before { content: "\f137"; }
.flaticon-057-medal-4:before { content: "\f138"; }
.flaticon-058-silver-medal-2:before { content: "\f139"; }
.flaticon-059-gold-medal-2:before { content: "\f13a"; }
.flaticon-060-bronze-medal-1:before { content: "\f13b"; }
.flaticon-061-silver-medal-1:before { content: "\f13c"; }
.flaticon-062-gold-medal-1:before { content: "\f13d"; }
.flaticon-063-medal-3:before { content: "\f13e"; }
.flaticon-064-medal-2:before { content: "\f13f"; }
.flaticon-065-diploma-1:before { content: "\f140"; }
.flaticon-066-badge-27:before { content: "\f141"; }
.flaticon-067-diploma:before { content: "\f142"; }
.flaticon-068-bronze-medal:before { content: "\f143"; }
.flaticon-069-silver-medal:before { content: "\f144"; }
.flaticon-070-gold-medal:before { content: "\f145"; }
.flaticon-071-badge-26:before { content: "\f146"; }
.flaticon-072-badge-25:before { content: "\f147"; }
.flaticon-073-badge-24:before { content: "\f148"; }
.flaticon-074-medal-1:before { content: "\f149"; }
.flaticon-075-medal:before { content: "\f14a"; }
.flaticon-076-badge-23:before { content: "\f14b"; }
.flaticon-077-badge-22:before { content: "\f14c"; }
.flaticon-078-badge-21:before { content: "\f14d"; }
.flaticon-079-badge-20:before { content: "\f14e"; }
.flaticon-080-badge-19:before { content: "\f14f"; }
.flaticon-081-badge-18:before { content: "\f150"; }
.flaticon-082-badge-17:before { content: "\f151"; }
.flaticon-083-badge-16:before { content: "\f152"; }
.flaticon-084-badge-15:before { content: "\f153"; }
.flaticon-085-badge-14:before { content: "\f154"; }
.flaticon-086-badge-13:before { content: "\f155"; }
.flaticon-087-badge-12:before { content: "\f156"; }
.flaticon-088-badge-11:before { content: "\f157"; }
.flaticon-089-badge-10:before { content: "\f158"; }
.flaticon-090-badge-9:before { content: "\f159"; }
.flaticon-091-badge-8:before { content: "\f15a"; }
.flaticon-092-badge-7:before { content: "\f15b"; }
.flaticon-093-badge-6:before { content: "\f15c"; }
.flaticon-094-badge-5:before { content: "\f15d"; }
.flaticon-095-badge-4:before { content: "\f15e"; }
.flaticon-096-badge-3:before { content: "\f15f"; }
.flaticon-097-badge-2:before { content: "\f160"; }
.flaticon-098-trophy:before { content: "\f161"; }
.flaticon-099-badge-1:before { content: "\f162"; }
.flaticon-100-badge:before { content: "\f163"; }