/***************

    La dechetterie du web
    @author Geoffrey Trambolho

***************/
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
@font-face {
  font-family: Noto;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf");
}
@font-face {
  font-family: Noto;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Noto_Sans/NotoSans-Bold.ttf");
}
@font-face {
  font-family: Noto;
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Noto_Sans/NotoSans-Italic.ttf");
}
@font-face {
  font-family: Noto;
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Noto_Sans/NotoSans-BoldItalic.ttf");
}
.popuped {
  overflow: hidden;
}
@media (max-width: 1200px) {
  .feed {
    padding: 0 !important;
  }
}
@media (max-width: 1200px) {
  #profile header {
    padding: 0 15px !important;
  }
}
.brand-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  border: 1px solid #eaeaea;
  height: 100px;
  background: rgba(234,234,234,0.08);
}
.brand-title .logo {
  width: 70px;
  fill: #2d3e51;
  margin: auto 0;
}
.brand-title .title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: auto 0;
  padding: 0 15px;
  color: #2d3e51;
  width: 100%;
}
.brand-title h1,
.brand-title p {
  margin: 0;
}
@media (max-width: 1200px) {
  h1 {
    font-size: 1.5rem !important;
  }
}
div[contenteditable],
textarea,
input {
  outline: none;
  border: none;
  border: #eaeaea 2px solid;
  resize: none;
  padding: 15px;
  line-height: 1.4rem;
  width: 100%;
}
#title-post {
  margin: 15px 0;
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 15px;
}
.hide {
  position: fixed;
  top: 0;
  right: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: -99999;
}
p {
  line-height: 2.5rem;
}
a span {
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  color: #000;
}
hr {
  margin: 10px 0;
  border-color: rgba(234,234,234,0.8) C;
}
body {
  padding-bottom: 100px;
  font-family: Noto;
}
span.ico {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
span.ico.medium {
  width: 30px;
  height: 30px;
}
span.ico.large {
  width: 50px;
  height: 50px;
}
span.ico.xlarge {
  width: 100px;
  height: 100px;
}
span.ico.facebook {
  background-image: url("./../img/picto/social/facebook.svg");
}
span.ico.twitter {
  background-image: url("./../img/picto/social/twitter.svg");
}
span.ico.snapchat {
  background-image: url("./../img/picto/social/snapchat.svg");
}
span.ico.insta {
  background-image: url("./../img/picto/social/instagram.svg");
}
span.ico.youtube {
  background-image: url("./../img/picto/social/youtube.svg");
}
span.ico.search-submit {
  background-image: url("./../img/picto/search.svg");
}
span.ico.fb {
  background-image: url("./../img/picto/fb.svg");
}
span.ico.tw {
  background-image: url("./../img/picto/tw.svg");
}
span.ico.share {
  background-image: url("./../img/picto/share.svg");
}
span.ico.comment {
  background-image: url("./../img/picto/comment.svg");
}
span.ico.bookmark {
  background-image: url("./../img/picto/bookmark.svg");
}
span.ico.shop {
  background-image: url("./../img/picto/shop.svg");
}
span.ico.trophy {
  background-image: url("./../img/picto/trophy.svg");
}
span.ico.gear {
  background-image: url("./../img/picto/gear.svg");
}
span.ico.arrow-left {
  background-image: url("./../img/picto/arrow_right.svg");
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
span.ico.vote {
  background-image: url("./../img/picto/arrow_right_circle.svg");
}
span.ico.vote_up {
  background-image: url("./../img/picto/arrow_up.svg");
}
span.ico.vote_down {
  background-image: url("./../img/picto/arrow_down.svg");
}
span.ico.camera {
  background-image: url("./../img/picto/camera.svg");
}
span.ico.dragfile {
  background-image: url("./../img/picto/drag.svg");
}
span.ico.cross {
  background-image: url("./../img/picto/cross.svg");
}
span.ico.add {
  background-image: url("./../img/picto/add.svg");
}
span.ico.coins {
  background-image: url("./../img/picto/coins.svg");
}
span.ico.poo {
  background-image: url("./../img/picto/poo.svg");
}
span.ico.burguer {
  background-image: url("./../img/picto/burguer.svg");
}
.avatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #eaeaea;
}
.avatar img {
  width: 100%;
  height: auto;
}
/***************

    Lateral

***************/
@media (max-width: 1200px) {
  #app-nav {
    border-bottom: 1px solid #ccc;
  }
}
@media (max-width: 1200px) {
  div.navbar.desktop {
    display: none;
  }
}
@media (min-width: 1200px) {
  div.navbar.mobile {
    display: none;
  }
}
div.lateral.left-bar,
div.navbar.mobile.left-bar {
  position: fixed;
}
div.lateral.left-bar,
div.navbar.mobile.left-bar,
div.lateral.right-bar,
div.navbar.mobile.right-bar {
  height: -webkit-calc(100% - 108px);
  height: calc(100% - 108px);
  width: 200px;
  overflow-y: scroll;
}
@media (max-width: 1200px) {
  div.lateral.left-bar,
  div.navbar.mobile.left-bar,
  div.lateral.right-bar,
  div.navbar.mobile.right-bar {
    display: none;
  }
}
div.lateral .menu ul,
div.navbar.mobile .menu ul,
div.lateral .users ul,
div.navbar.mobile .users ul {
  padding: 0;
}
div.lateral .menu ul li,
div.navbar.mobile .menu ul li,
div.lateral .users ul li,
div.navbar.mobile .users ul li {
  list-style: none;
}
div.lateral span.title,
div.navbar.mobile span.title {
  font-size: 1.2rem;
  font-weight: 100;
  color: #aaa;
  display: block;
}
div.lateral span.link,
div.navbar.mobile span.link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 10px;
}
div.lateral span.link:hover,
div.navbar.mobile span.link:hover {
  background: #eee;
  cursor: pointer;
}
div.lateral span.link svg,
div.navbar.mobile span.link svg {
  width: 20px;
  height: 20px;
  fill: #999;
}
div.lateral span.link span,
div.navbar.mobile span.link span {
  padding: 0 10px;
}
div.lateral span.link img,
div.navbar.mobile span.link img {
  width: 20px;
  height: 20px;
}
div.lateral a.router-link-exact-active.router-link-active span.link,
div.navbar.mobile a.router-link-exact-active.router-link-active span.link {
  background: #eee;
}
div.lateral a.router-link-exact-active.router-link-active span.link svg,
div.navbar.mobile a.router-link-exact-active.router-link-active span.link svg {
  fill: #ec4a9f;
}
div.lateral.right-bar,
div.navbar.mobile.right-bar {
  text-align: right;
  max-width: 300px;
  overflow: hidden;
  width: 100%;
}
div.lateral.right-bar .users,
div.navbar.mobile.right-bar .users,
div.lateral.right-bar .facebook-page,
div.navbar.mobile.right-bar .facebook-page,
div.lateral.right-bar .ads,
div.navbar.mobile.right-bar .ads {
  width: 100%;
}
div.lateral.right-bar .users,
div.navbar.mobile.right-bar .users {
  overflow: hidden;
}
div.lateral.right-bar .users .name,
div.navbar.mobile.right-bar .users .name {
  text-align: left;
  height: 35px;
  line-height: 18px;
/* line-height: 35px; */
/* overflow: hidden; */
}
/***************

    Bartop

***************/
.container-fluid .center {
  position: relative;
  max-width: 1440px;
  margin: auto;
  padding-top: 108px;
}
@media (max-width: 1200px) {
  .container-fluid .center {
    width: 100%;
    padding-top: 50px;
  }
}
.container-fluid.bartop {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 999;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 100px;
}
@media (max-width: 1200px) {
  .container-fluid.bartop {
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.container-fluid.bartop .navbar {
  position: relative;
  max-width: 1440px;
  margin: auto;
  font-size: 0;
}
.container-fluid.bartop .navbar .menu {
  width: 100%;
  margin: auto;
}
@media (min-width: 1200px) {
  .container-fluid.bartop .navbar .menu {
    max-width: 750px;
  }
}
.container-fluid.bartop .navbar .menu .list {
  position: fixed;
  width: 300px;
  left: -300px;
  top: 50px;
  height: -webkit-calc(100vh - 50px);
  height: calc(100vh - 50px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  background: #fff;
  overflow: hidden;
  text-align: center;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
  z-index: 9999;
  overflow-y: scroll;
}
.container-fluid.bartop .navbar .menu .list.active {
  border-right: 1px solid #ccc;
  left: 0px;
}
.container-fluid.bartop .navbar .add-btn {
  background: #000;
  height: 30px;
  color: #eee;
  font-weight: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 5px;
  font-size: 1.3rem;
  position: absolute;
}
.container-fluid.bartop .navbar .add-btn:hover {
  cursor: pointer;
}
.container-fluid.bartop .navbar .add-btn svg {
  width: 20px;
  height: 20px;
  fill: #eee;
}
.container-fluid.bartop .navbar .add-btn span {
  padding: 0 10px;
  color: #eee;
}
@media (min-width: 1200px) {
  .container-fluid.bartop .navbar .add-btn {
    right: 60px;
    top: 10px;
  }
}
@media (max-width: 1200px) {
  .container-fluid.bartop .navbar .add-btn {
    right: 0px;
    top: 0px;
  }
}
.container-fluid.bartop .navbar .profile,
.container-fluid.bartop .navbar .brand,
.container-fluid.bartop .navbar .burguer {
  position: absolute;
  top: 0;
}
.container-fluid.bartop .navbar .profile {
  right: 0;
}
.container-fluid.bartop .navbar .add-btn span,
.container-fluid.bartop .navbar .burguer span {
  margin: 0;
}
.container-fluid.bartop .navbar .brand {
  float: left;
  overflow: visible;
}
.container-fluid.bartop .navbar .brand .logo {
  width: 50px;
  height: auto;
  fill: #2c3e50;
}
.container-fluid.bartop .navbar .search {
  margin: 15px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.container-fluid.bartop .navbar .search .search-input {
  position: fixed;
  top: 0;
  right: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: -99999;
}
.container-fluid.bartop .navbar .search .search-field {
  width: 100%;
  text-align: right;
  font-size: 1.5rem;
  line-height: 30px;
  padding: 0 5px;
}
@media (max-width: 1200px) {
  .container-fluid.bartop .navbar.desktop {
    display: none !important;
  }
}
.container-fluid.bartop .navbar.desktop a span {
  font-size: 1.2rem;
  line-height: 30px;
  margin: 10px 15px;
  height: 30px;
}
.container-fluid.bartop .navbar a span {
  font-size: 1.2rem;
}
/***************

    Single Post

***************/
.posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: #ccc 8px solid;
}
.posts article {
  background: #fff;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}
@media (min-width: 992px) {
  .posts article {
    max-width: 770px;
  }
}
.posts aside {
  position: relative;
}
.posts aside .btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  top: 40%;
  width: 70px;
  text-align: center;
}
.posts aside .btns.social-btns {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
.posts aside .btns .title {
  font-weight: bold;
  margin: 10px auto;
}
.posts aside .btns span {
  margin: 10px auto;
  cursor: pointer;
}
@media (max-width: 992px) {
  .posts aside {
    display: none;
  }
}
.posts:hover aside .btns.social-btns {
  -ms-filter: none;
  filter: none;
  opacity: 1;
}
.comment-block {
  max-width: 770px;
  width: 100%;
  margin: auto;
}
.comment-form header {
  margin-top: 60px;
  background: rgba(204,204,204,0.28);
}
@media (max-width: 992px) {
  .comment-form header {
    margin-top: 8px;
  }
}
@media (max-width: 1200px) {
  .profile {
    padding: 0 !important;
  }
}
.post header,
.comments header,
.comment-form header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 15px;
}
.post header .info,
.comments header .info,
.comment-form header .info {
  margin: auto 15px;
}
.post header .info span.name,
.comments header .info span.name,
.comment-form header .info span.name {
  display: block;
  font-size: 1.2rem;
  line-height: 20px;
  color: #000;
}
.post header .info span.date,
.comments header .info span.date,
.comment-form header .info span.date {
  display: block;
  font-size: 0.9rem;
  color: #a1a1a1;
}
.post .title,
.comments .title,
.comment-form .title {
  font-size: 2rem;
  padding: 0 15px 0 15px;
  margin: 20px 0 10px 0;
  color: #000;
  font-weight: bold;
  word-wrap: break-word;
}
.comments,
.settings {
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .comments,
  .settings {
    margin-bottom: 15px;
  }
}
.comments .comment,
.settings .comment,
.comments .title,
.settings .title {
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .comments .comment,
  .settings .comment,
  .comments .title,
  .settings .title {
    margin-bottom: 8px;
  }
}
.comments .content,
.settings .content {
  font-size: 1.4rem !important;
  background: inherit !important;
  text-align: left !important;
  padding: 15px;
}
@media (max-width: 992px) {
  .comments .content,
  .settings .content {
    margin: 8px 0;
    padding: 0 15px;
  }
}
.comment-form {
  font-size: 0;
}
.comment-form .comment-edit {
  font-size: 1.4rem;
  min-height: 100px;
  width: 100%;
  outline: none;
  padding: 15px;
  margin-bottom: 15px;
  border: solid #eaeaea 2px;
}
@media (max-width: 992px) {
  .comment-form .comment-edit {
    min-height: 0px;
    margin-bottom: 8px;
  }
}
.comment-btn,
.post-btn {
  text-align: center;
  line-height: 50px;
  font-size: 1.8rem;
  background: #000;
  color: #fff;
  cursor: pointer;
}
.post-btn {
  margin-top: 30px;
}
.post .content {
  background: #000;
  font-size: 0;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.post .content .layer-video {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.251);
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}
.post .content .layer-video .round {
  height: 50px;
  width: 50px;
  margin: auto;
  border: 4px solid #fff;
  border-radius: 25px;
  box-sizing: border-box;
  position: relative;
}
.post .content .layer-video .round .play {
  border-right: 7px solid #fff;
  border-bottom: 7px solid transparent;
  border-left: 7px solid transparent;
  border-top: 7px solid #fff;
  width: 0;
  height: 0;
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 14px;
  right: 17px;
}
.post .content a {
  display: block;
  width: 100%;
}
.post .content img {
  width: 100%;
  margin: auto;
}
.post .content video {
  max-height: 50vh;
}
.post footer {
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  overflow: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 992px) {
  .post footer.desktop {
    display: none;
  }
}
@media (min-width: 992px) {
  .post footer.mobile {
    display: none;
  }
}
.post footer.mobile .action {
  margin: auto;
}
.post footer .action {
  font-weight: bold;
  font-size: 1rem;
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 15px;
  cursor: pointer;
}
.post footer .action .label {
  margin: 0 15px 0 8px;
}
@media (max-width: 450px) {
  .post footer .action .label {
    margin: 0 8px;
  }
}
/*******
    
    Profile

********/
#profile .profile {
  margin-bottom: 60px;
}
#profile .profile header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-top: 15px;
}
#profile .profile header .avatar {
  width: 120px;
  height: 120px;
}
@media (max-width: 1200px) {
  #profile .profile header .avatar {
    width: 100px;
    height: 100px;
  }
}
#profile .profile header .info {
  height: 90px;
  margin: 0;
  padding-left: 20px;
  position: relative;
}
#profile .profile header .info .name,
#profile .profile header .info .desc {
  display: block;
  margin-bottom: 30px;
}
#profile .profile header .info .name {
  font-size: 2.2rem !important;
  font-weight: bold;
  line-height: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
#profile .profile header .info .desc {
  font-size: 1.3rem;
  margin-top: 15px;
  color: #737373;
}
#profile .profile header .info .links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin-bottom: 15px;
}
#profile .profile header .info .links > span {
  padding-right: 10px;
  cursor: pointer;
}
#profile .profile header .info .links > span span.label {
  font-size: 1.2rem;
  vertical-align: top;
  padding: 0 5px;
}
#profile .btn-save {
  text-align: center;
  color: #fff;
  background: #000;
}
#profile .profile .btn-save {
  padding: 5px;
  margin: 10px 15px;
  width: 120px;
  position: absolute;
}
#profile .settings .btn-save {
  text-align: center;
  line-height: 50px;
  font-size: 1.8rem;
  background: #000;
  color: #fff;
  cursor: pointer;
}
#profile .posts {
  border: none;
}
#profile .posts .tuile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#profile .posts .tuile .post {
  max-width: 200px;
  width: 33%;
  padding: 10px;
  box-sizing: border-box;
  border: solid 1px transparent;
}
#profile .posts .tuile .post:hover {
  border: solid 1px #eaeaea;
}
#profile .posts .tuile .post a {
  display: block;
  height: 100%;
}
.nb-dechet {
  font-weight: bold;
}
/*

    Setting

 */
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex.flex-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex.col {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex.nowrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.settings .title {
  font-size: 2.2rem;
  font-weight: bold;
}
.settings .section-title {
  font-size: 1.4rem;
  color: #a1a1a1;
}
.settings .setting {
  margin-top: 30px;
}
.settings .setting .photo .old {
  max-width: 70px;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
}
.settings .setting .photo .old img {
  width: 100%;
}
.settings .setting .photo .btn {
  margin: auto 10px;
  cursor: pointer;
}
.settings .setting .photo .btn:hover {
  text-decoration: underline;
}
.settings input,
.settings textarea {
  font-size: 1.3rem;
  margin: 10px 0;
}
.settings textarea#bio {
  min-height: 150px;
}
.settings label {
  font-size: 1.6rem;
  font-weight: bold;
  display: block;
}
a:hover,
div:hover {
  text-decoration: none;
}
a.social,
div.social {
  display: block;
  max-width: 200px;
  margin-bottom: 15px;
  cursor: pointer;
}
a.social.facebook,
div.social.facebook {
  text-align: center;
  line-height: 50px;
  font-size: 1.2rem;
  background: #3b5997;
  color: #fff;
  cursor: pointer;
}
a.social.twitter,
div.social.twitter {
  text-align: center;
  line-height: 50px;
  font-size: 1.2rem;
  background: #55abed;
  color: #fff;
  cursor: pointer;
}
a.social.btn-logout,
div.social.btn-logout {
  text-align: center;
  line-height: 50px;
  font-size: 1.2rem;
  background: #bb3030;
  color: #fff;
  cursor: pointer;
}
/*
    Awards

*/
.award {
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  height: 200px;
}
.award i:before {
  font-size: 7rem;
  margin: auto;
}
.award:hover {
  box-sizing: border-box;
  border: 1px solid #eaeaea;
}
.award.earned {
  background: #6b6b6b;
}
.award.earned i {
  font-size: 7rem;
  margin: auto;
}
.award.earned i svg {
  width: 50px;
  fill: #fff;
}
.award.earned h4,
.award.earned span {
  color: #fff;
}
.award.earned:hover {
  border-color: #000;
}
.award.missing i {
  font-size: 7rem;
  margin: auto;
}
.award.missing i svg {
  width: 50px;
  fill: #afafaf;
}
.award.missing h4,
.award.missing span {
  color: #afafaf;
}
/*
 
    Auth
*/
.login-link {
  line-height: 50px;
  font-size: 1.2rem;
  text-align: center;
  color: #000;
}
.login-btn {
  text-align: center;
  line-height: 50px;
  font-size: 1.2rem;
  background: #000;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}
.linkauth {
  font-size: 1.2rem;
  text-align: left;
  display: inline-block;
  line-height: 3rem;
  padding-right: 10px;
}
.linkauth:hover {
  text-decoration: underline;
}
/*
    Drag @ Preview
 
*/
#new-post .title {
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 10px;
  height: auto;
}
#dragzone {
  height: 240px;
  background: rgba(204,204,204,0.15);
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px dashed #eaeaea;
  cursor: pointer;
}
#dragzone label {
  margin: auto;
  cursor: pointer;
}
#dragzone label span {
  display: block;
  margin: auto;
  text-align: center;
}
#dragzone label span.btn-drag {
  text-align: center;
  line-height: 50px;
  font-size: 1.2rem;
  background: #000;
  color: #fff;
  cursor: pointer;
  padding: 0 15px;
  margin-top: 10px;
}
#dragzone .ico.drag {
  height: 50px;
  width: 50px;
}
#dragzone:hover {
  border-color: #eaeaea;
}
.choices {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.choices svg,
.choices img {
  height: 50px;
  width: 50px;
  margin: auto;
}
.choices div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  width: 33%;
  height: 15vh;
  border: 1px solid #eaeaea;
  margin-top: 5px;
  cursor: pointer;
}
.choices div:hover {
  border-color: #ccc;
}
.choices div span {
  font-size: 1.2rem;
  padding: 0 5px;
  height: 30%;
}
.nsfwcheckbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  background: #b31f48;
  color: #fff;
}
.nsfwcheckbox input {
  width: 30px;
  height: 30px;
  margin: 0 20px 0 0;
}
.nsfwcheckbox label {
  font-size: 1.5rem;
  line-height: 2rem;
}
#fileInput {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  width: 100%;
  position: absolute;
  height: 100%;
  cursor: pointer;
}
#preview {
  position: relative;
  min-height: 100px;
  max-height: 30vh;
  border: 2px solid #eaeaea;
  cursor: pointer;
  overflow: scroll;
}
#preview .close-btn {
  display: none;
}
#preview .close-btn svg {
  fill: #ccc;
  width: 100%;
  height: 100%;
}
#preview:hover .close-btn {
  display: block;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
}
#preview img {
  width: 100%;
  height: auto;
}
/*

* PLAYER

*/
.play-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 30vh;
  border: 1px solid #eaeaea;
}
.play-btn svg {
  height: 50px;
  margin: auto;
  fill: #ccc;
}
a {
  color: #000;
}
a.router-link-exact-active.router-link-active {
  color: #000;
  text-decoration: none !important;
}
#loading-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  width: 100%;
  height: 100%;
  border: 1px solid #eaeaea;
}
#loading-wrapper .loading {
  display: block;
  margin: auto;
  width: 40px;
  height: 40px;
  border-left: 4px solid #2d3e51;
  border-bottom: 4px solid #2d3e51;
  border-top: 4px solid #eaeaea;
  border-right: 4px solid #eaeaea;
  border-radius: 50%;
  -webkit-animation: loading 1.2s infinite linear;
  animation: loading 1.2s infinite linear;
}
#error-wrapper {
  background: #bb3030;
  width: 100%;
  padding: 15px;
}
#error-wrapper ul {
  margin: 0;
}
#error-wrapper ul li {
  color: #eaeaea;
  width: 100%;
  font-size: 1.2rem;
}
#success-wrapper {
  background: #008000;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
}
#success-wrapper div {
  color: #eaeaea;
  width: 100%;
  font-size: 1.2rem;
}
span.more {
  display: block;
  text-align: center;
  padding: 15px;
  max-width: 200px;
  color: #000;
  font-size: 1.2rem;
  margin: 15px auto;
  cursor: pointer;
}
span.more:hover {
  text-decoration: underline;
}
#title-post.placeholder:before {
  content: 'Un peu de texte..';
}
#title-post:after {
  content: '';
  height: 3rem;
  border: 1px solid #000;
  width: 0;
  -webkit-animation: cursor 1s infinite;
  animation: cursor 1s infinite;
  -webkit-animation: cursor 1s infinite;
}
/*

    Drop Down

*/
div.dropdown {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 200;
}
div.dropdown .btn {
  position: absolute;
  right: 0;
  display: block;
  height: 15px;
  width: 15px;
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: 0.8;
}
div.dropdown .btn svg {
  fill: #ccc;
}
div.dropdown .btn:hover {
  -ms-filter: none;
  filter: none;
  opacity: 1;
}
div.dropdown .dropdown-menu {
  position: absolute;
  right: 0;
  top: 20px;
  background: #fff;
  margin: 0;
  list-style: none;
  padding: 0;
  width: 100px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
@media (max-width: 1200px) {
  div.dropdown .dropdown-menu {
    width: 150px;
  }
}
div.dropdown .dropdown-menu.active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
div.dropdown .dropdown-menu:after {
  content: '';
  position: absolute;
  top: -10px;
  right: 2px;
  display: block;
  width: 0;
  height: 0;
  border-bottom: 5px solid #ccc;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  box-sizing: border-box;
}
div.dropdown .dropdown-menu li {
  padding: 5px;
  font-size: 1rem;
  cursor: pointer;
}
@media (max-width: 1200px) {
  div.dropdown .dropdown-menu li {
    font-size: 1.5rem;
  }
}
a.hashtag {
  color: #fff;
  background: #1f5584;
  padding: 0 5px;
  font-weight: 100;
}
a.hashtag:hover {
  text-decoration: underline;
}
#confirm-nsfw-modal .modal-container {
  max-width: 400px !important;
}
@-moz-keyframes loading {
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading {
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loading {
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes cursor {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
  51% {
    -ms-filter: none;
    filter: none;
    opacity: 1;
  }
  100% {
    -ms-filter: none;
    filter: none;
    opacity: 1;
  }
}
@-webkit-keyframes cursor {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
  51% {
    -ms-filter: none;
    filter: none;
    opacity: 1;
  }
  100% {
    -ms-filter: none;
    filter: none;
    opacity: 1;
  }
}
@-o-keyframes cursor {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
  51% {
    -ms-filter: none;
    filter: none;
    opacity: 1;
  }
  100% {
    -ms-filter: none;
    filter: none;
    opacity: 1;
  }
}
@keyframes cursor {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
  51% {
    -ms-filter: none;
    filter: none;
    opacity: 1;
  }
  100% {
    -ms-filter: none;
    filter: none;
    opacity: 1;
  }
}
